@model LabPrac.DTO.CustomerDTO

<html>
<head>
    <title>Customer Details</title>
</head>
<body>
    <h2>Customer Details</h2>

    <table border="1">
        <tr>
            <td>Customer ID:</td>
            <td>@Model.CustomerId</td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Date Joined:</td>
            <td>@Model.DateJoined.ToShortDateString()</td>
        </tr>
    </table>

    <div style="margin-top: 20px;">
        @Html.ActionLink("Back to List", "List")
    </div>
</body>
</html>
