@model demo.DTO.ProgramDTO

<html>
<head>
    <title>Create New Program</title>
</head>
<body>
    <h2>Create New Program</h2>

    @using (Html.BeginForm("Create", "Program", FormMethod.Post))
    {
        <table>
            <tr>
                <td>ProgramName:</td>
                <td>
                    @Html.TextBoxFor(model => model.ProgramName)
                    @Html.ValidationMessageFor(model => model.ProgramName)
                </td>
            </tr>
            <tr>
                <td>Channel:</td>
                <td>
                    @Html.DropDownListFor(model => model.ChannelId, ViewBag.Channels as IEnumerable<SelectListItem>, "-- Select a Channel --")
                    @Html.ValidationMessageFor(model => model.ChannelId)
                </td>
            </tr>
            <tr>
                <td>TRPScore:</td>
                <td>
                    @Html.TextBoxFor(model => model.TRPScore)
                    @Html.ValidationMessageFor(model => model.TRPScore)
                </td>
            </tr>
            <tr>
                <td>AirTime:</td>
                <td>
                    @Html.TextBoxFor(model => model.AirTime)
                    @Html.ValidationMessageFor(model => model.AirTime)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create Program" />
                </td>
            </tr>
        </table>
    }

    <div style="margin-top: 20px;">
        @Html.ActionLink("Back to List", "List")
    </div>
</body>
</html>
