@model demo.DTO.ChannelDTO

<html>
<head>
    <title>Channel Details</title>
</head>
<body>
    <h2>Channel Details</h2>

    <table border="1">
        <tr>
            <td>Channel ID:</td>
            <td>@Model.ChannelId</td>
        </tr>
        <tr>
            <td>ChannelName:</td>
            <td>@Model.ChannelName</td>
        </tr>
        <tr>
            <td>EstablishedYear:</td>
            <td>@Model.EstablishedYear</td>
        </tr>
        <tr>
            <td>Country:</td>
            <td>@Model.Country</td>
        </tr>
        
    </table>

    <div style="margin-top: 20px;">
        @Html.ActionLink("Back to List", "List")
    </div>
</body>
</html>
