@model IEnumerable<demo.DTO.ChannelDTO>

@{
    ViewBag.Title = "List";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<!-- Feedback messages -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<!-- Feedback messages -->
@if (TempData["ISuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["ISuccess"]
    </div>
}

@if (TempData["IError"] != null)
{
    <div class="alert alert-danger">
        @TempData["IError"]
    </div>
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <th>ChannelId</th>
        <th>ChannelName</th>
        <th>EstablishedYear</th>
        <th>Country</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ChannelId</td>
            <td>@item.ChannelName</td>
            <td>@item.EstablishedYear</td>
            <td>@item.Country</td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ChannelId }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Edit", "Edit", new { id = item.ChannelId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ChannelId }, new { @class = "btn btn-danger" })
            </td>


        </tr>
    }
</table>
<a href="/channel/create" class="btn btn-primary">Create</a>
